<!DOCTYPE html>
<html lang="pt-br">

<%- include partials/head %>

    <head>

        <link rel="stylesheet" href="/stylesheets/editarPerfil.css">
        <title>DOAME</title>
    </head>

    <body>
        <%- include partials/header %>
        <section class = "container">
            <div class = "forms">
                <h2 style="text-align: center;">Editar perfil</h2>
                <form action="/perfil/edit" method="post" class="formulario">
                    <% for( let i=1; i < Object.keys(usuario).length-3; i++ ) { %>
                        <input type="text" name="<%= Object.keys(usuario)[i] %>" placeholder="<%= Object.values(usuario)[i] %>">
                        <% } %>
                            <input type="password" name="senha" id="senha" placeholder="senha atual">
                            <input type="password" name="novaSenha" id="novaSenha" placeholder="nova senha">
                            <div class="sign-up">
                                <button type="submit">Salvar alterações</button>
                            </div>
                </form>
         </div>
        </section>
            <%- include partials/footer %>
                    <script src="/javascripts/main.js"></script>
    </body>

</html>