<!DOCTYPE html>
<html lang="pt-br">

<%- include partials/head %>

 <head>
        <link rel='stylesheet' href='/stylesheets/main.css'>
        <title>DOAME</title>
    </head>

    <body>
        <%- include partials/header %>
            <main>
                <section class="container">
                    <img class="banner" src="/images/logo/banner.png">
                </section>

                <section class="projects">
                    <div class="container">
                        <% for( let i = 0; i <= 2; i++ ) { %>
                            <% let parceiro = listaParceiros[i]; %>
                                <article>
                                    <div class="thumb" style="background-image: url('<%= parceiro.imagem %>')"></div>
                                    <span class="titulo-projeto"><%= parceiro.nome %></span>
                                    <div class="info">
                                        <p>
                                            <%= parceiro.descricao %>
                                        </p>
                                        <img class="querodoar" src="/images/logo/querodoar.png">
                                    </div>
                                </article>
                                <% } %>

                    </div>
                </section>
                <section>
                    <div class="body-site"></div>
                </section>

                <section data-anime="left">
                    <div class="porque-doar">
                        <h2>É mais sobre pessoas e menos sobre dinheiro!</h2>
                        <p>O mundo precisa de mais solidariedade. Seja um motivador! Ao doar com a DoAME, você inspira amor e influencia outras pessoas a praticarem atos de bondade.</p>
                    </div>
                </section>

            </main>
            <%- include partials/footer %>
            <%- include partials/modalLogin %>
            <script src="/javascripts/main.js"></script>
    </body>
</html>