<!DOCTYPE html>
<html lang="pt-br">

<%- include partials/head %>

    <head>
        <link rel='stylesheet' href='/stylesheets/main.css'>
        <title>DOAME</title>
    </head>

    <body>

        <%- include partials/header %>
            <main>
                <section class="projects">
                    <div class="container">
                        <% for( let i = 0; i < listaParceiros.length; i++ ) { %>
                            <% let parceiro = listaParceiros[i]; %>
                                <%- include partials/cardParceiro %>
                            <% } %>
                    </div>
                </section>
                <%- include partials/modalLogin %>
            </main>
            <%- include partials/footer %>
                <script src="/javascripts/main.js"></script>
    </body>

</html>