<!DOCTYPE html>
<html lang="en">


<%- include partials/head %>

    <head>
        <link rel='stylesheet' href='/stylesheets/page-parceiro.css'>
        <title>Parceiro</title>
    </head>

    <body>
        <%- include partials/header %>
            <main>
                <div class="noticias-parceiros">
                    <div class="top-parceiro">
                        <div class="imagens-parceiros">
                            <img title="Imagem do artigo do parceiro" style="background-image: url('<%= parceiro.imagem %>');">
                        </div>

                        <div class="texto-parceiros">
                            <h2>
                                <%= parceiro.nome %>
                            </h2>
                            <p>
                                <%= parceiro.descricao %>
                            </p>
                            <button class="btn-doar" onclick="location+='/doar'">DOAR</button>
                        </div>
                    </div>

                    <div class="bottom-parceiro-noticias">
                        <% for( let i=0; i <= 2; i++ ) { %>
                            <%- include partials/cardNoticia %>
                                <% } %>
                    </div>
                </div>
            </main>
            <%- include partials/footer %>
                <script src="/javascripts/main.js"></script>
    </body>

</html>